/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Rubik&display=swap'); */

/* ========================== font guide
* font-family: 'Barlow', sans-serif; // base font
* font-family: 'Chango', cursive; // effect font
* font-family: 'Source Sans Pro', sans-serif;  // clean font
*/

body {
  margin: 0;

  /* base font */
  font-family: 'Inter-Medium' !important;
  font-size: 12px;
  color: #ffffff;
}

button {
  font-family: 'Inter-Medium' !important;

  padding: 0;
  margin: 0;
}

.Mui-selected {
  color: #ffffff !important;
  height: 60px;
}

.MuiButton-endIcon {
  margin-top: -1px;
  margin-left: 4px !important;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('assets/font/static/Inter-Bold.ttf') format('openType');
}

@font-face {
  font-family: 'Inter-Thin';
  src: url('assets/font/static/Inter-Thin.ttf') format('openType');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('assets/font/static/Inter-Medium.ttf') format('openType');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}